body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
.container {
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
  }
.wrapper {
    margin: 0 auto;
}

h2.wrapper {
    margin: 20px 0;
    font-size: 25px;
    color: #333;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.pro-items {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease;

}

.pro-items:hover {
    transform: translateY(-10px);
}

.pro-items img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.pro-items img:hover{
    cursor: pointer;
}   
.name-pro a {
    text-decoration: none;
    color: green;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.name-pro a:hover {
    color: hotpink;
}

.price {
    font-size: 1.5em;
    color: red;
    margin: 10px 0;
}

.price span {
    font-size: 0.8em;
    color: #999;
    text-decoration: line-through;
    margin-left: 10px;
}